/* web fonts-------------------- */
/* <link rel="stylesheet" href="css/responsive.css"> */
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/abolition-regular-webfont.woff') format('woff'),
    url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Kaushan Regular';
  src: url('../fonts/KaushanScript-Regular.ttf')format('truetype');
}

/* Base Styles -------------------- */
* {
  box-sizing: border-box;
}

body, textarea, input {
  color: #000000;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2, h3 {
  color: #156d02;
  font-family: 'Kaushan Regular', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5.625rem;
  /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  margin: 12px 0 0;
}

h2 {
  font-size: 3.3125em;
  /* 53px/16px  */
  font-weight: normal;
  line-height: 0.9;
  /* 0 0 26px */
}

h3 {
  font-size: 1.55em;
  /* 20px/16px  */
  line-height: 1.2;
  margin-bottom: 1em;
  /* 34px */
}

/* Pseudo-classes ------------------ */
a:link {
  color: #69ea5b;
  text-decoration: none;
}

a:visited {
  color: none;
}


a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */
.main-header {
  padding-top: 20px;
  height: 850px;
  background: linear-gradient(#434744, transparent 85%),
    linear-gradient(0deg, #ffa949, transparent 50%),
    #69ea5b url('../img/background.jpg') no-repeat center;
  background-size: cover;
}

.title {
  color: rgba(221, 60, 190, 0.9);
  font-size: 1.625rem;
  /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 600;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  font-family: 'Kaushan Regular', Helvetica, Arial, sans-serif;
}

.intro {
  padding-top: 50px;
  font-size: 1.25em;
  /* 20px/16px */
  line-height: 1.6;
  font-weight: 500;
}

.primary-content,
.main-header,
.main-footer,
.secondary-content {
  text-align: center;
}

.primary-content,
.secondary-content {
  padding-top: 25px;
  padding-bottom: 35px;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-bottom: 10px;
  border-bottom: 10px solid #69ea5b;
  border-top-right-radius: 10%;
  font-weight: bold;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

/* Layout Styles ------------------ */
.primary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.secondary-content {
  width: 75%;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  max-width: 960px;
  display: inline;
}
.arrow {
  width: 50px;
  margin-top: 150px
}



/* Float Clearfix ------------------ */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.gap {
  background: -webkit-linear-gradient(top, rgba(255, 169, 73, 1) 0%, rgba(232, 177, 126, 0) 100%);
  width: 100%;
  height: 60px;
}

/*  bar ------------------ */
.nav-bar{
  width: 100%;
  height: 100px;
  position: relative;
  display: block;
}
.nav-bar ul {
background-color: rgba(67,71,68, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 10px 20px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(67,71,68, 0.6);
}

.nav-bar ul li {
  list-style: none;
  text-align: center;
  display: block;
  border-right: 1px solid rgba(0,0,0,0.2);
}
.nav-bar ul li:last-child{
  border-right: none;
}
.nav-bar ul li a {
text-decoration: none;
padding: 10px 50px;
display: block;
text-align: center;
  overflow: hidden;
}
ul li .icon{
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto 10px;
}

ul li a .icon .fas {
width: 100%;
height: 100%;
line-height: 40px;
font-size: 34px;
transition: 0.5s;
color: rgba(105, 234, 91, 1);
}

ul li a:hover .icon .fas {
  transform: translateY(-100%);
}

ul li a .icon-name {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
}
ul li a .icon-name span {
  display: block;
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height:20px;
}

/* ------ Logo ------ */
#logo {
  display:block;
  margin-top:10px;
  padding: 10px 20px;
  width: 100%;
  height: 500px;
}

#logo img{
  width: 40%;
position: inherit;
top: 50%;
left: 50%;
animation: pulse 5s ease infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1.2),
      /* scaling to 0 */
  }

  50% {
    transform: scale(1.0);
    /* increasing the size */
  }

  100% {
    transform: scale(1.2);
    /* seeting back to initial size */
  }
}

#intro{
  width: 100%;
  display: block;
}


/* ----------------------------------- */
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flow-root;
}

#gallery li {
  float: left;
  width: 199px;
  height: 250px;
  margin: 10px;
  color: #878787;
  border-radius: 10px;
  text-align: center;

}

#gallery li p {
  font-weight: 600;
  margin: 0;
  padding: 5%;
  font-size: 1.1em;
  color: #156d02;
}

#gallery li a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 2px;
}

#gallery li img {
  box-shadow: 3px rgba(105, 234, 91, 0.5);
  align-items: center;
  max-width: 100%;
  margin-bottom: 2px;
  border-radius: 10px;
  margin-top: 5px;
}

.gallery {
  margin-bottom: 30px;
  padding-left: 10%;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

/****************************
Navigation
****************************/

/****************************
Page:Contact
****************************/
#contact {
  height: 600px;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.contact-box {
  height: auto;
  width: 100%;
  background: #69ea5b;
}

.contact-info {
  text-align: left;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.contact-info a {
  font-size: 1em;
  color: rgba(221, 60, 190, 0.9);
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.facebook a {
  background-image: url('../img/facebook.png');
}

.profile-photo {
  float: right;
  display: inline;
  max-width: 150px;
  margin: 0 5% 80px 0;  /*allows to add rounded boders to an element*/
  border-radius: 50%;
}

.centerText {
  text-align: center;
}

#primary {
  width: 60%;
  float: right;
}

#secondary {
  display: block;
  width: 40%;
  float: left;
  margin-top: 20px;
}

/* ************
Forms
*********** */
.form-control {
  margin-bottom: 2%;
  border-radius: 1rem;
  border: 2px solid #dfe2e6;
  padding-left: 3%;
}

.txtEmail {
  float: left;
  margin-left: 3%;
  width: 97%;
  height: 30px;
}

.txtMsg {
  margin-left: 3%;
  width: 97%;
  height: 150px;
}

.txtPhone {
  float: right;
  width: 47%;
  height: 30px;
}

.txtName {
  float: left;
  margin-left: 3%;
  width: 47%;
  height: 30px;
}

.contact-image img {
  display: block;
  float: left;
  border-radius: 6rem;
  width: 20%;
  margin-top: -3%;
  transform: rotate(-29deg);
}

.btnContact {
  background: #69ea5b;
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  border: none;
  cursor: pointer;
}


.contact-image {
  transform: translate(-50%,-50%);

  animation: rotate 4s linear infinite alternate;
}


@keyframes rotate {
  0%, 100% {
    transform: rotateX(10deg);
  }

  50% {
    transform: rotateY(10deg);
  }

  80% {
    transform: rotateX(0turn);
  }
}

/* Media Queries ------------------ */
@media (max-width: 1024px) {

  .primary-content,
  .secondary-content {
    width: 90%;
  }

  .wildlife {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media (max-width: 768px) {

  .primary-content,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border-top: none;
  }

  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }

  .title {
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
  }

  h1 {
    font-size: 4rem;
    line-height: 1.1;
  }

  .arrow {
    display: none;
  }

  .intro {
    font-size: 1.1rem;
  }

  .resorts,
  .tips {
    float: none;
    width: 100%
  }

  .main-footer {
    height: 40px;
    padding: 5px 0;
    padding-bottom: 10px;
  }

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: left;
  }
}

@media screen and (min-width: 660px) {

  /****************************
	Header
	****************************/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    width: 25%;
  }
}

@media screen and (min-width: 480px) {

  /****************************
	Two Colum layout
	****************************/
  /****************************
	Page: portfolio
	****************************/
  #gallery li {
    width: 30%;
  }

  /*this it to stop the line is wrapping and the list behaving wired.*/
  #gallery li:nth-child(3n + 1) {
    clear: right;
  }

  /* #contact {
    display: block;
    height: 700px;
  } */

  /****************************
	Page: About
	****************************/
  .profile-photo {


  }
}
  /* #logo {
    float: left;
    margin-left: 5%;
    width: 15%;
    /* background-image: url('../img/logomini.png'); */
