/* web fonts-------------------- */
/* <link rel="stylesheet" href="css/responsive.css"> */
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/abolition-regular-webfont.woff') format('woff'),
    url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Kaushan Regular';
  src: url('../fonts/KaushanScript-Regular.ttf')format('truetype');
}

/* Base Styles -------------------- */
* {
  box-sizing: border-box;
}

body, textarea, input {
  color: #000000;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2, h3 {
  font-family: 'Kaushan Regular', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5.625rem;
  /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  margin: 12px 0 0;
}

h2 {
  font-size: 3.3125em;
  /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em;
  /* 0 0 26px */
}

h3 {
  font-size: 1.25em;
  /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em;
  /* 34px */
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* div img {
  box-shadow: 0 15px 20px -12px rgba(0, 0, 0, .8);
} */
/* Pseudo-classes ------------------ */
a:link {
  color: #69ea5b;
  text-decoration: none;
}

a:visited {
  color: none;
}

a:hover {
  color: rgba(221, 60, 190, 0.9);
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */
.main-header {
  padding-top: 20px;
  height: 850px;
  background: linear-gradient(#434744, transparent 65%),
    linear-gradient(0deg, #ffa949, transparent 60%),
    #69ea5b url('../img/background.jpg') no-repeat center;
  background-size: cover;
}

.title {
  color: rgba(221, 60, 190, 0.9);
  font-size: 1.625rem;
  /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 600;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  font-family: 'Kaushan Regular', Helvetica, Arial, sans-serif;
}

.intro {
  padding-top: 50px;
  font-size: 1.25em;
  /* 20px/16px */
  line-height: 1.6;
  font-weight: 500;
}

.primary-content,
.main-header,
.main-footer,
.secondary-content {
  text-align: center;
}

.primary-content,
.secondary-content {
  padding-top: 25px;
  padding-bottom: 35px;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-bottom: 10px;
  border-bottom: 10px solid #69ea5b;
  border-top-right-radius: 10%;
  font-weight: bold;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

/* Layout Styles ------------------ */
.primary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.secondary-content {
  width: 75%;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  max-width: 960px;
  display: inline;
}

.wildlife {
  color: white;
  text-align: left;
  padding: 18% 24%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background: #434a52 url('../img/bear.jpg') no-repeat center;
  background-size: cover;
  box-shadow: 0 15px 20px -12px rgba(0, 0, 0, .8),
    inset 0 0 50px 10px rgba(0, 0, 0, .9);
  border-radius: 15px;
}

.arrow {
  width: 50px;
  margin-top: 150px
}

/* Floated Columns ------------------ */
.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left;
}

.resorts {
  float: right;
}

/* Float Clearfix ------------------ */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.gap {
  background: -webkit-linear-gradient(top, rgba(255, 169, 73, 1) 0%, rgba(232, 177, 126, 0) 100%);
  width: 100%;
  height: 60px;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flow-root;
}

#gallery li {
  float: left;
  width: 199px;
  height: 240px;
  margin: 10px;
  background-color: rgba(105, 234, 91, 0.1);
  color: #878787;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px rgba(255, 169, 73, 0.4);
}

#gallery li p {
  font-weight: 600;
  margin: 0;
  padding: 5%;
  font-size: 1.1em;
  color: #000000;
}

#gallery li a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 5px;
}

ul li a:hover {
  background-color: transparent;
  color: rgba(221, 60, 190, 0.9);
}

#gallery li img {
  align-items: center;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.gallery {
  margin-bottom: 30px;
  padding-left: 10%;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

/****************************
Navigation
****************************/
#logo img {
  display: inline-block;
  width: 95%;
  margin-left: 51%;
}

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  background: -webkit-linear-gradient(45deg, rgba(4, 180, 10, 1) 0%, rgba(116, 252, 106, 0) 100%);
  display: inline-block;
  border-radius: 10px;
  height: 35px;
  padding: 2px;
  margin-right: 20px;
  opacity: none;
}

nav a {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 1px 1px rgba(255, 169, 73, 1);
  font-weight: 600;
  padding: 15px 10px;
}

.nav-bar {
  /* background: rgb(76, 175, 80,0.5); */
  /* opacity:0.3; */
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

/****************************
Page:Contact
****************************/
#contact {
  height: 600px;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.contact-box {
  height: auto;
  width: 100%;
  background: #69ea5b;
}

.contact-info {
  text-align: left;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.facebook a {
  background-image: url('../img/facebook.png');
}

.profile-photo {
  float: right;
  display: inline;
  max-width: 150px;
  margin: 30px 15px 30px;
  /*allows to add rounded boders to an element*/
  border-radius: 50%;
}

.centerText {
  text-align: center;
}

#primary {
  width: 60%;
  float: right;
}

#secondary {
  display: block;
  width: 40%;
  float: left;
  margin-top: 20px;
}

/* ************
Forms
*********** */
.form-control {
  margin-bottom: 2%;
  border-radius: 1rem;
  border: 2px solid #dfe2e6;
  padding-left: 3%;
}

.txtEmail {
  float: left;
  margin-left: 3%;
  width: 97%;
  height: 30px;
}

.txtMsg {
  margin-left: 3%;
  width: 97%;
  height: 150px;
}

.txtPhone {
  float: right;
  width: 47%;
  height: 30px;
}

.txtName {
  float: left;
  margin-left: 3%;
  width: 47%;
  height: 30px;
}

.contact-image img {
  display: block;
  float: left;
  border-radius: 6rem;
  width: 25%;
  margin-top: -3%;
  transform: rotate(-29deg);
}

.btnContact {
  background: #69ea5b;
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Media Queries ------------------ */
@media (max-width: 1024px) {

  .primary-content,
  .secondary-content {
    width: 90%;
  }

  .wildlife {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media (max-width: 768px) {

  .primary-content,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border-top: none;
  }

  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }

  .title {
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
  }

  h1 {
    font-size: 4rem;
    line-height: 1.1;
  }

  .arrow {
    display: none;
  }

  .intro {
    font-size: 1.1rem;
  }

  .resorts,
  .tips {
    float: none;
    width: 100%
  }

  .main-footer {
    height: 40px;
    padding: 5px 0;
    padding-bottom: 10px;
  }

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: left;
  }
}

@media screen and (min-width: 480px) {

  /****************************
	Two Colum layout
	****************************/
  /****************************
	Page: portfolio
	****************************/
  #gallery li {
    width: 40%;
  }

  /*this it to stop the line is wrapping and the list behaving wired.*/
  #gallery li:nth-child(3n + 1) {
    clear: left;
  }

  #contact {
    display: block;
    height: 700px;
  }

  /****************************
	Page: About
	****************************/
  .profile-photo {
    display: none;

  }


  .txtMsg {
    margin-left: 3%;
    width: 97%;
    height: 150px;
  }

  .txtPhone {
    float: left;
    margin-left: 3%;
    width: 97%;
  }

  .txtName {
    float: left;
    margin-left: 3%;
    width: 97%;

  }

  .contact-image img {
    display: block;
    float: left;
    border-radius: 6rem;
    width: 25%;
    margin-top: -3%;
    transform: rotate(-29deg);
  }

  .btnContact {
    background: #69ea5b;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 660px) {

  /****************************
	Header
	****************************/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    width: 25%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    width: 35%;
  }
}
